* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* Navigation stylings */

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    
}

.logo {
    font-size: larger;
}

nav div a span {
    padding-right: 6px;
}

.moringa {
    color: #EC4067;
}

a {
    text-decoration: none;
    color: rgb(49, 47, 47);

}

ul {
    display: flex; 
    list-style-type: none;
}

ul li {
    padding-left: 40px;
}

div ul li button {
    padding: 6px 16px;
    background: #EC4067;
    border: none;
    color: #fff;
    border-radius: 5px;
}

/* End Navigation stylings */


    /* Main styling */

    main {
        padding: 0 80px;
    }

   /******************* Begin Section One ********************/

    /* Hero header */
    .section-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-one > :first-child{
        width: 70%;
    }

    h4 {
        font-weight: normal;
    }

    .section-one div h2 {
        color: #EC4067;
        font-weight: 300;
        margin-top: 10px;
        font-size: 250%;
    } 

    .section-one div p {
        margin-top: 12px;
        width: 50%;
    }

    .read-more {
        margin-top: 16px;
    }

    .btn-primary {
        background: #EC4067;
        padding: 8px 18px;
        box-shadow:  0px 5px 10px 0px #EC4067;
        color: #fff;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
    }
    
    .btn-outline {
        background: #fff;
        padding: 8px 22px;
        color: #EC4067;
        margin-right: 10px;
        border: 1px solid #EC4067;
    }

    /* End Hero header */

    /******************* End Section One ********************/


/******************* Begin Section Two ********************/

.stories {
    display: inline;
    margin-right: 5px;
}

.orientation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.container {
    width: 50%;
}

.orientation h2 {
    font-weight: normal;
}

.container {
    position: relative;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #fff;
    font-size: smaller;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    color: #fff;
    font-size: smaller;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #fff;
    font-size: smaller;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 16px;
    color: #fff;
    font-size: smaller;
}

.orientation-text {
    width: 50%;
}

.orientation-text div {
    width: 70%;
    padding-left: 50px;
}

.orientation p {
    margin-top: 30px;
}

.orientation button {
    margin-top: 20px;
}

/******************* End Section Two ********************/

/******************* Begin Section Three ********************/

.mentors-heading {
    margin-top: 50px;
}

.mentors {
    display: inline;
    margin-right: 5px;
}

.profile {
    margin-top: 30px;
    width: 20%;
}

.profile div {
    position: relative;
}

.mentor-name {
    position: absolute;
    bottom: 36px;
    left: 16px;
    color: #fff;
    font-size: smaller;

} 

.profile img {
    width: 100%;
}

.mentor-bio {
    padding-left: 10px;
}

.profile h3{
    color: #EC4067;
    font-weight: 500;
    margin-top: 2px;
}

.profile p {
    font-size: small;
    margin-top: 8px;
}

.profile button {
    margin-top: 16px;
}




/******************* End Section Three ********************/




@media only screen and (max-width: 600px) {

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    ul {
        margin-top: 10px;
    }

    ul > :first-child{
        padding-left: 0;
    }

}

@media only screen and (max-width: 1024px) {
    

}
